/** @format */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
section,
footer {
  overflow: hidden;
}
* {
  outline: 0;
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
  &::selection {
    background-color: $color-pomegranate;
    color: $color-white;
  }
  user-select: none;
}

a,
.btn {
  transition: 0.5s all ease-in-out;
}

body {
  background-color: $color-white;
  font-family: $base-font-family;
}

a {
  color: $color-black;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0px;
}

address {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@include mobile-landscape {
  .container {
    max-width: 100%;
  }
}

@media (max-width: $mobile-sm) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aos-init,
.aos-animate {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    transition: none;
    transform: none;
    transition-delay: 0;
    transition-duration: 0;
  }
}

.slick-slide {
  outline: 0;
}
.container-fluid {
  padding: 0 90px;
  @include below($tablet-lg) {
    padding: 0 30px;
  }
  @include below($mobile-lg) {
    padding: 0 15px;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: 0.35s all ease-in-out;
}
[data-scroll-container] {
  position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  width: 100vw;
  // max-width: 100vw;
  // overflow: hidden;
  // transition: 0.35s all ease-in-out;
  @include below($tablet-lg) {
    position: static;
  }
}
body {
  height: 100vh;
}
// .is-view {
//   visibility: visible !important;
// }
html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
}
.preloader {
  position: fixed;
  z-index: 101;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  background-color: $color-gallery;
}
picture {
  width: 100%;
  height: 100%;
  display: block;
}
.ration__1160x420 {
  width: 100%;
  height: auto;
  aspect-ratio: 1162/420;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.ration__1160x616 {
  width: 100%;
  height: auto;
  aspect-ratio: 1162/616;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.ration__565x420 {
  width: 100%;
  height: auto;
  aspect-ratio: 565/420;
  overflow: hidden;
  @include below($tablet-sm) {
    margin-bottom: 40px;
  }
  img {
    object-fit: cover;
  }
}
.radius__12 {
  border-radius: 12px;
  @include below($mobile-lg) {
    border-radius: 8px;
  }
}
