/** @format */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
section,
footer {
  overflow: hidden;
}
main {
  @include below($tablet-lg) {
    overflow: hidden;
  }
}
* {
  outline: 0;
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
  &::selection {
    background-color: $color-pomegranate;
    color: $color-white;
  }
  user-select: none;
}

a,
.btn {
  transition: 0.5s all ease-in-out;
}

body {
  background-color: $color-white;
  font-family: $base-font-family;
}

a {
  color: $color-black;
  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0px;
}

address {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@include mobile-landscape {
  .container {
    max-width: 100%;
  }
}

@media (max-width: $mobile-sm) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aos-init,
.aos-animate {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    transition: none;
    transform: none;
    transition-delay: 0;
    transition-duration: 0;
  }
}

.slick-slide {
  outline: 0;
}
.container-fluid {
  padding: 0 140px;
  @include below($tablet-lg) {
    padding: 0 30px;
  }
  @include below($mobile-lg) {
    padding: 0 15px;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: 0.35s all ease-in-out;
}
[data-scroll-container] {
  position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  width: 100vw;
  // max-width: 100vw;
  // overflow: hidden;
  // transition: 0.35s all ease-in-out;
  @include below($tablet-lg) {
    position: static;
  }
}
body {
  height: 100vh;
}
// .is-view {
//   visibility: visible !important;
// }
html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
}
.preloader {
  position: fixed;
  z-index: 101;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  background-color: $color-gallery;
}
picture {
  width: 100%;
  height: 100%;
  display: block;
}
.ratio__1160x420 {
  width: 100%;
  height: auto;
  aspect-ratio: 1162/420;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.ratio__1160x616 {
  width: 100%;
  height: auto;
  aspect-ratio: 1162/616;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.ratio__565x420 {
  width: 100%;
  height: auto;
  aspect-ratio: 565/420;
  overflow: hidden;
  @include below($tablet-sm) {
    margin-bottom: 40px;
  }
  img {
    object-fit: cover;
  }
}
.radius__12 {
  border-radius: 12px;
  @include below($mobile-lg) {
    border-radius: 8px;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-gallery;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  overflow: hidden;
  transition: 0.7s all ease-in-out;
  .preloader__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h4 {
      @include fontStyle(1vw, 1, 400, $color-black-original);
      text-transform: uppercase;
      margin-top: 25px;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      z-index: 5;
      @include below($tablet-lg) {
        font-size: 20px;
      }
      @include below($mobile-lg) {
        font-size: 16px;
      }
    }
    img,
    svg:not(.text) {
      width: 20%;
      max-height: 90dvh;
      height: auto;
      opacity: 0.05;
      margin-bottom: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @include below($tablet-lg) {
        width: 60%;
      }
    }
    .text {
      width: 90px;
      height: auto;
      margin-top: 20px;
    }
  }

  &.loaded {
    .loader,
    h4 {
      transition: 0.3s all ease-in-out;
      transform: scale(0);
      opacity: 0;
    }
    // height: 0;
    transform: scaleY(0);
    transition-delay: 0.3s;
  }
}

// .loader {
//   width: 60px;
//   position: relative;
//   z-index: 5;
//   aspect-ratio: 1;
//   --c: linear-gradient(#f5333f 0 0);
//   --m: radial-gradient(farthest-side, #f5333f 90%, #f5333f);
//   background: var(--c), var(--m), var(--c);
//   background-size: 16px 8px, 10px 10px;
//   background-repeat: no-repeat;
//   animation: l20-1 1s infinite linear, l20-2 4s infinite linear -0.4s;
// }
// @keyframes l20-1 {
//   0%,
//   10% {
//     background-position: calc(50% - 8px) 50%, 50% -15px, calc(50% + 8px) 50%;
//   }
//   33% {
//     background-position: -20px 50%, 50% 50%, calc(100% + 20px) 50%;
//   }
//   66% {
//     background-position: -20px 50%, 50% calc(100% + 15px), calc(100% + 20px) 50%;
//   }
//   80%,
//   100% {
//     background-position: calc(50% - 8px) 50%, 50% calc(100% + 15px),
//       calc(50% + 8px) 50%;
//   }
// }
// @keyframes l20-2 {
//   0%,
//   24.99% {
//     transform: rotate(0);
//   }
//   25%,
//   49.99% {
//     transform: rotate(90deg);
//   }
//   50%,
//   74.99% {
//     transform: rotate(180deg);
//   }
//   75%,
//   100% {
//     transform: rotate(270deg);
//   }
// }

// /* HTML: <div class="loader"></div> */
// .loader {
//   width: 40px;
//   aspect-ratio: 1;
//   color: #f03355;
//   position: relative;
//   background:
//     conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
//     conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
//   background-size: 100% 50%;
//   background-repeat: no-repeat;
// }
// .loader:before {
//   content:'';
//   position: absolute;
//   inset: 0;
//   --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
//   background:
//     linear-gradient( 45deg,var(--g)),
//     linear-gradient(-45deg,var(--g));
//    animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
// }
// @keyframes l7 {
//    33%  {inset:-10px;transform: rotate(0deg)}
//    66%  {inset:-10px;transform: rotate(90deg)}
//    100% {inset:0    ;transform: rotate(90deg)}
// }

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #F5333F;
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}