/*------------------*
# Variables
*------------------*/

/*
 * This file includes default variables to get going quickly on a project.
 * File includes:
 * - Base font family
 * - Base font sizes
 * - Heading spacing
 * - Paragraph spacing
 * - Base line height
 * - Base colors
*/

/*
 * Base font family
*/

// $content-font-family: 'Gotham Book', sans-serif;;
$base-font-family: 'Visby', sans-serif;

/*
 * Base font sizes
*/

$base-font-size: 16px !default;

$h1-size: 44px !default;
$h2-size: 28px !default;
$h3-size: 24px !default;
$h4-size: 18px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;
$p-size: 18px !default;

/*
 * Base line height
*/

$base-line-height: 1.5 !default;

/*
 * Base colors
*/

$color-white: #ffffff !default;
$color-black: #0B3C64 !default; 
$color-black-original: #000 !default; 
$color-river-bed: #3c454e; 
$color-stratos: #050038; 
$color-pomegranate: #F5333F; 
$color-alice-blue: #eff7ff; 
$color-coral: #ffe4db; 
$color-coral2: #FF784D; 
$color-gallery: #F0F0F0; 
$color-tuna: #35353F; 
$color-chablis: #FFF2F2; 
$color-zircon: #F5F9FF; 
$color-lynch: #637E93; 
$color-charade: #252430; 
$color-santas-gray: #9CA1B4; 
$color-gray: #808080; 
$color-madison: #0B3C64; 
// $color-blue-bayoux: #4F5F6E; 
$color-blue-bayoux: #3c454e; 
$color-white-lilac: #E7EBF5; 
$color-aqua-squeeze: #EEF8F4; 
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

// Breakpoints
$desktop-lg: 1440px;
$desktop-sm: 1365px;
$tablet-lg: 1200px; 
$tablet-sm: 990px;
$mobile-lg: 720px;
$mobile-sm: 580px;