/** @format */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 40px 0;
  transition: 0.3s all ease-in-out;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: .5);
    position: absolute;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s all ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
  }
  @include below($mobile-lg) {
    padding: 20px 0;
  }
  .brand__logo {
    display: block;
    width: 12vw;
    height: auto;
    // position: absolute;
    // top: calc((100vh / 2) - 40px);
    // left: calc((100vw / 2) - 90px);
    z-index: 102;
    // transform: translate(-50%, -50%);
    transition: 0s;
    @include below($tablet-lg) {
      width: 220px;
    }
    @include below($tablet-sm) {
      width: 170px;
    }
    @include below($mobile-lg) {
      width: 120px;
    }
  }
  nav {
    width: max-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    .header__primary__navigation {
      display: flex;
      align-items: center;
      margin-right: 80px;
      li {
        &:not(:last-child) {
          margin-right: 38px;
        }
        a {
          text-decoration: none;
          @include fontStyle(1.12vw, 1.5, 500, $color-madison);
          text-transform: uppercase;
          letter-spacing: 0.7px;
          transition: 0.2s all ease-in-out;
          position: relative;
          &::after {
            transform: translateX(-50%) scaleX(0);
            content: "";
            transition: 0.2s all ease-in-out;
            width: 100%;
            left: 50%;
            top: calc(100% + 5px);
            height: 1.5px;
            background-color: $color-pomegranate;
            position: absolute;
          }
          &:hover {
            @include above($tablet-lg) {
              color: $color-pomegranate;
              &::after {
                transform: translateX(-50%) scaleX(1);
              }
            }
          }
        }
      }
    }
    @include below($tablet-lg) {
      position: fixed;
      left: 0;
      top: 0;
      width: calc(100vw - 100px);
      height: 100dvh;
      z-index: 10;
      background-color: $color-gallery;
      flex-flow: column;
      align-items: flex-start;
      padding: 30px 30px 30px;
      transform: translateX(-100%);
      transition: 0.5s all ease-in-out;
      visibility: hidden;
      // opacity: 0;
      pointer-events: none;
      .header__primary__navigation {
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 50px;
        padding-top: 30px;
        li {
          padding: 12px 0;
          width: 100%;
          &:not(:first-child) {
            border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
          }
          a {
            font-size: 20px;
          }
        }
      }
    }
    @include below($mobile-lg) {
      padding: 13px 15px 20px;
      width: calc(100vw - 60px);
    }
  }
  .hamburger {
    display: none;
    @include below($tablet-lg) {
      display: block;
    }
  }
  .close__menu__btn {
    width: 40px;
    height: 40px;
    display: none;
    margin-left: auto;
    @include below($tablet-lg) {
      display: block;
    }
    @include below($mobile-lg) {
      width: 35px;
      height: 35px;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
}
.menu__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 10;
  transition: 0.3s all ease-in-out;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.sticky__header header {
  padding: 20px 0;
  &::after {
    transform: scaleY(1);
  }
}
.mobile__menu {
  overflow: hidden;
  .menu__overlay {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  header {
    &::after {
      // transform: scaleY(1);
    }
    nav {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}
