/** @format */

.contactform {
  //   .category_wrap {

  //   }
  .form_wrap {
    margin-top: 30px;
    .button_wrap {
      display: flex;
      flex-wrap: wrap;
      max-width: 810px;
      @include below($tablet-lg) {
        max-width: 700px;
      }
      fieldset {
        margin-bottom: 50px;
        margin-right: 50px;
        padding: 0;

        @include below($tablet-sm) {
          margin-right: 40px;
          margin-bottom: 30px;
        }
        @include below($mobile-sm) {
          margin-right: 30px;
          margin-bottom: 18px;
        }
        input {
          display: none;
        }
        label {
          font-size: 1.2vw;
          line-height: 1;
          font-weight: 400;
          color: $color-madison;
          border: 1px solid $color-blue-bayoux;
          border-radius: 8px;
          padding: 18px 30px;
          transition: 0.2s all ease-in-out;
          cursor: pointer;
          @include below($tablet-lg) {
            font-size: 20px;
          }
          @include below($mobile-sm) {
            padding: 12px 20px;
            font-size: 10px;
          }
        }
        input:checked + label {
          background-color: $color-madison;
          border-color: $color-madison;
          color: $color-white;
        }
      }
    }
    .form_sec {
      fieldset {
        margin-bottom: 40px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
        @include below($tablet-sm) {
          margin-bottom: 30px;
        }
        @include below($mobile-sm) {
          margin-bottom: 20px;
        }
        label {
          display: none;
        }
        input,
        select {
          font-size: 1.9vw;
          line-height: 1.2;
          font-weight: 400;
          color: rgba($color: $color-blue-bayoux, $alpha: 1);
          width: 100%;
          border: none;
          border-bottom: 1px solid $color-blue-bayoux;
          padding: 35px 0;
          transition: 0.2s all ease-in-out;
          @include below($tablet-sm) {
            padding: 25px 0;
          }
          @include below($mobile-sm) {
            font-size: 14px;
            padding: 15px 0;
          }
          &::placeholder {
            // @include fontStyleInherit();
            color: rgba($color: $color-blue-bayoux, $alpha: 0.5);
            transition: 0.2s all ease-in-out;
            @include below($mobile-sm) {
              font-size: 14px;
            }
          }
          &:focus {
            border-color: $color-madison;
            color: $color-madison;
            &::placeholder {
              color: rgba($color: $color-madison, $alpha: 1);
            }
          }
        }
        .submit_btn_wrap {
          display: block;
          position: relative;
          width: max-content;
          transition: 0.2s all ease-in-out;

          &::before {
            content: "";
            display: block;
            position: absolute;
            background-image: url("../img/icons/Arrow-color.svg");
            width: 27px;
            height: 9px;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.2s all ease-in-out;
            opacity: 0;
            pointer-events: none;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            background-image: url("../img/icons/Arrow.svg");
            background-repeat: no-repeat;
            width: 27px;
            height: 9px;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.2s all ease-in-out;
            pointer-events: none;
          }
          .submit_cta {
            color: #fff;
            padding: 14px 60px 14px 18px;
            padding-right: 60px;
            border: 1px solid #f5333f;
            font-size: 1.12vw;
            width: max-content;
            font-weight: 500;
            @include below($mobile-lg) {
              font-size: 12px;
            }
            &:hover {
              @include above($tablet-lg) {
                color: #f5333f;
                padding: 14px 75px 18px 18px;
              }
            }
          }
          &:hover {
            @include above($tablet-lg) {
              &::after {
                opacity: 0;
              }
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
.office_location {
  .title__primary {
    margin-bottom: 40px;
    @include below($tablet-lg) {
      margin-bottom: 40px;
    }
    @include below($mobile-lg) {
      margin-bottom: 20px;
    }
  }
  .row {
    margin: 0 -120px;
    @include below($tablet-lg) {
      margin: 0 -30px;
    }
    & > div {
      padding: 0 120px;
      @include below($tablet-lg) {
        padding: 0 30px;
      }
      @include below($mobile-lg) {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
      &:nth-child(2) {
        .location_img:after {
          content: "";
          border: 1px solid rgba($color: $color-blue-bayoux, $alpha: 0.5);
          margin-left: -120px;
          height: 100%;
          display: block;
          width: 1px;
          position: absolute;
          left: 0;
          top: 0;
          pointer-events: none;
          @include below($tablet-lg) {
            margin-left: -30px;
          }
        }
      }
    }
  }
  @include below($tablet-sm) {
    .row {
      margin: 0 -90px;

      & > div {
        padding: 0 90px;

        &:nth-child(2) {
          .location_img:after {
            margin-left: -90px;
          }
        }
      }
    }
  }
  .location_card {
    h5 {
      font-size: 2.1vw;
      font-weight: 600;
      line-height: 1;
      color: $color-madison;
      margin-bottom: 15px;
      @include below($tablet-lg) {
        font-size: 28px;
      }
      @include below($mobile-lg) {
        margin-bottom: 15px;
        font-size: 22px;
      }
    }
    p {
      font-size: 1.2vw;
      color: $color-blue-bayoux;
      line-height: 1.2;
      font-weight: 500;
      @include below($desktop-lg) {
        font-size: 18px;
      }
      @include below($mobile-sm) {
        font-size: 16px;
      }
    }
    a {
      display: block;
      position: relative;
      margin-bottom: 20px;
      picture {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 12px;
        aspect-ratio: 1.95/1;
        overflow: hidden;
        img {
          object-fit: cover;
          transition: 0.4s all ease-in-out;
          transform: scale(1.05);
        }
      }
      &:hover {
        @include above($tablet-lg) {
          img {
            transform: scale(1);
            filter: brightness(0.8);
          }
        }
      }
    }
    .contact_info {
      p,
      a {
        color: $color-madison;
        padding-left: 36px;
        position: relative;
        font-size: 1.2vw;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 15px;
        text-decoration: none;
        &:last-child {
          margin-bottom: 0;
        }
        @include below($desktop-lg) {
          font-size: 18px;
        }
        @include below($mobile-sm) {
          font-size: 16px;
          padding-left: 26px;
        }
        &::before {
          content: "";
          width: 15px;
          height: 2px;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: $color-madison;
          @include below($mobile-sm) {
            width: 10px;
          }
        }
      }
    }
  }
}
.pricing {
  @include below($mobile-lg) {
    text-align: center;
  }
  .bg_blue {
    padding: 60px 85px;
    background-color: $color-alice-blue;
    border-radius: 12px;
    .title__primary {
      margin-bottom: 20px !important;
      @include below($mobile-sm) {
        margin-bottom: 20px !important;
      }
    }
    @include below($mobile-sm) {
      .subtitle__primary {
        margin-bottom: 20px !important;
      }
    }
    @include below($tablet-sm) {
      padding: 45px 50px;
    }
    @include below($mobile-sm) {
      padding: 30px 25px;
    }
    @include below($mobile-sm) {
      .rigth_button {
        display: block;
        width: 100%;
      }
    }
  }
  .pricing__feat__img {
    position: absolute;
    bottom: -60px;
    right: -55px;
    width: 38%;
    // max-height: 100%;
    height: auto;
    @include below($tablet-lg) {
      position: static;
      width: 50%;
      margin-top: 30px;
      display: block;
      right: 0;
      margin-left: auto;
      margin-bottom: -60px;
      margin-right: auto;
    }
    @include below($tablet-sm) {
      width: 90%;
      margin: 30px auto -45px;
    }
    @include below($mobile-lg) {
      margin: 30px auto -30px;
      width: 100%;
      right: 0;
    }
  }
}
// .contactform .category_wrap .button_wrap fieldset input:checked+label{
//     background-color: #FF784D;
//     border-color: #FF784D;
//     color: #fff
// }

@include below(variable) {
}
.form__tab__links__wrap {
  margin-bottom: 80px;
  margin-top: 80px;
  @include below($mobile-lg) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  & > * {
    &:not(:last-child) {
      margin-right: 70px;
      @include below($mobile-lg) {
        margin-right: 30px;
      }
    }
  }
  .cta__tab {
    background-color: transparent;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0;
    @include below($mobile-lg) {
      margin-bottom: 10px;
    }
    &.active {
      color: $color-madison;
      font-weight: 600;
    }
    &:not(:last-child) {
      position: relative;
      &::after {
        // @include above($mobile-lg) {
        content: "";
        width: 1px;
        height: 20px;
        background-color: $color-black-original;
        position: absolute;
        left: calc(100% + 35px);
        display: block;
        top: 50%;
        transform: translateY(-50%);
        @include below($mobile-lg) {
          left: calc(100% + 15px);
        }
        // }
      }
    }
  }
}
