/** @format */

.agency__growth__grid {
  margin: 0 -20px;
  @include below($tablet-lg) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  @include below($mobile-lg) {
    margin: 0 -15px;
  }
  & > div {
    padding: 0 20px;
    margin-bottom: 40px;

    @include below($tablet-lg) {
      margin-bottom: 40px;
      width: 47%;
      flex: 0 0 47%;
      scroll-snap-align: start;
    }
    @include below($tablet-sm) {
      width: 60%;
      flex: 0 0 60%;
    }
    @include below($mobile-lg) {
      width: 80%;
      flex: 0 0 80%;
      padding: 0 15px;
    }
  }
}
.agency__growth__card {
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 12px;
  padding: 52px 40px;
  position: relative;
  height: 100%;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  @include below($tablet-lg) {
    padding: 30px;
    border-color: $color-pomegranate;
    background-color: $color-pomegranate;
    * {
      color: $color-white !important;
    }
    h6 {
      opacity: 0.2;
    }
    .cta__primary {
      svg {
        path {
          fill: $color-white;
        }
      }
    }
    &::after {
      transform: translate(40px, 50px) scale(1);
      // transition-delay: 0.1s;
    }
    .agency__growth__card__header .agency__growth__card__header__icon {
      &::before {
        opacity: 0;
      }
      img {
        filter: grayscale(100%) contrast(1000%) invert(1);
        transform: translate(0);
      }
    }
  }
  @include below($tablet-sm) {
    padding: 30px 20px;
  }
  & > * {
    position: relative;
    z-index: 5;
  }
  &::after {
    content: "";
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(#fb6770, #f5333f);
    transform: translate(40px, 50px) scale(0);
    transform-origin: bottom right;
    transition: 0.3s all ease-in-out;
  }
  .agency__growth__card__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include below($mobile-lg) {
      margin-bottom: 20px;
    }
    .agency__growth__card__header__icon {
      width: 55px;
      flex: 0 0 55px;
      height: 48px;
      margin-right: 20px;
      position: relative;
      @include below($tablet-lg) {
        width: 65px;
        flex: 0 0 65px;
        height: 58px;
      }
      @include below($mobile-lg) {
        width: 45px;
        flex: 0 0 45px;
        height: 45px;
      }
      img {
        transition: 0.3s all ease-in-out;
      }
      &::before {
        content: "";
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-color: $color-coral;
        z-index: -1;
        border-radius: 18px 5px 10px 5px;
        position: absolute;
        top: 5px;
        transition: 0.5s all ease-in-out;

        transform: translate(5px, 5px);
        left: 5px;
      }
    }
    h4 {
      @include fontStyle(1.8vw, 1.2, 600, $color-madison);
      margin: 0;
      transition: 0.3s all ease-in-out;
      @include below($tablet-lg) {
        font-size: 30px;
      }
      @include below($tablet-sm) {
        font-size: 22px;
      }
      @include below($mobile-lg) {
        font-size: 20px;
      }
    }
  }
  h5 {
    @include fontStyle(1.4vw, 1.2, 500, $color-blue-bayoux);
    margin-bottom: 40px;
    transition: 0.3s all ease-in-out;
    @include below($tablet-lg) {
      font-size: 20px;
    }
    @include below($tablet-sm) {
      font-size: 18px;
    }
    @include below($mobile-lg) {
      font-size: 16px;
    }
  }
  p {
    @include fontStyle(1vw, 1.5, 500, $color-blue-bayoux);
    margin-bottom: 0;
    @include below($tablet-lg) {
      font-size: 18px;
    }
  }
  &:hover {
    @include above($tablet-lg) {
      border-color: $color-pomegranate;
      background-color: $color-pomegranate;
      * {
        color: $color-white !important;
      }
      h6 {
        opacity: 0.2;
      }
      .cta__primary {
        svg {
          path {
            fill: $color-white;
          }
        }
      }
      &::after {
        transform: translate(40px, 50px) scale(1);
        // transition-delay: 0.1s;
      }
      .agency__growth__card__header .agency__growth__card__header__icon {
        &::before {
          opacity: 0;
        }
        img {
          filter: grayscale(100%) contrast(1000%) invert(1);
          transform: translate(0);
        }
      }
    }
  }
}
.agency__growth__grid--service {
  .agency__growth__card {
    .agency__growth__card__header {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      h6 {
        @include fontStyle(4.87vw, 1.1, 500, $color-gallery);
        transition: 0.3s all ease-in-out;
        @include below($tablet-sm) {
          font-size: 60px;
        }
      }
      h4 {
        margin-top: 20px;
        font-size: 1.53vw;
        margin-bottom: 0px;
        @include below($tablet-lg) {
          font-size: 26px;
        }
        @include below($tablet-sm) {
          font-size: 20px;
        }
      }
    }
  }
}
