/** @format */

.hero__banner {
  width: 100%;
  height: 100dvh;
  background-color: $color-alice-blue;
  @include below($tablet-lg) {
    height: auto;
  }
  @include below($mobile-lg) {
    height: auto;
  }
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  .hero__banner__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
    @include below($tablet-lg) {
      padding-top: 260px;
      justify-content: flex-end;
    }
    @include below($mobile-lg) {
      padding-top: 160px;
    }
    .badge {
      @include fontStyle(1.5vw, 1, 600, $color-madison);
      padding: 5px 19px;
      background-color: $color-white;
      border-radius: 50px;
      width: max-content;
      margin-bottom: 25px;
      text-transform: uppercase;
      @include below($tablet-lg) {
        font-size: 24px;
        margin: 0 auto 25px;
      }
      @include below($tablet-sm) {
        margin: 0 auto 25px;
        background-color: transparent;
      }
      @include below($mobile-lg) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    h1 {
      @include fontStyle(4.2vw, 1, 600, $color-madison);
      margin-bottom: 25px;
      transform: translateY(150px);
      opacity: 0;
      @include below($tablet-lg) {
        font-size: 60px;
        text-align: center;
      }
      @include below($tablet-sm) {
        font-size: 50px;
      }
      @include below($mobile-lg) {
        font-size: 40px;
        margin-bottom: 15px;
      }
    }
    p {
      @include fontStyle(1.3vw, 1.75, 400, $color-blue-bayoux);
      max-width: 90%;
      transform: translateY(150px);
      opacity: 0;

      @include below($tablet-lg) {
        font-size: 20px;
        text-align: center;
        margin: 0 auto 30px;
      }
      @include below($mobile-lg) {
        font-size: 16px;
      }
    }
    .staggerTitle {
      transform: translateY(150px);
      opacity: 0;
    }
    .cta__primary {
      @include below($tablet-lg) {
        margin: auto;
        display: flex;
      }
    }
  }
  .hero__banner__featured__side__Image__wrap {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    @include below($tablet-lg) {
      display: flex;
      align-items: flex-end;
    }
  }
  .hero__banner__featured__side__Image {
    object-position: bottom;
    @include below($tablet-lg) {
      width: 80%;
      margin: auto;
      height: auto;
      display: block;
      margin-top: auto;
      margin-bottom: 0;
    }
    @include below($mobile-lg) {
      height: 100%;
      margin-top: 20px;
    }
  }
  .float__image {
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: 0s all ease-in-out;
    &.float__img1 {
      // width: 190px;
      width: 9vw;
      height: auto;
      left: 0;
      top: 35%;
      @include below($tablet-lg) {
        left: 130px;
        width: 180px;
      }
      @include below($tablet-sm) {
        left: 35px;
        width: 140px;
      }
      @include below($mobile-lg) {
        width: 90px;
      }
    }
    &.float__img2 {
      // width: 90px;
      width: 7vw;
      height: auto;
      right: 150px;
      top: 40%;
      @include below($tablet-lg) {
        width: 150px;
        top: 35%;
        right: 180px;
      }
      @include below($tablet-sm) {
        top: 30%;
        width: 115px;
      }
      @include below($mobile-lg) {
        width: 60px;
        right: 70px;
        top: 35%;
      }
    }
    &.float__img3 {
      // width: 50px;
      width: 3.5vw;
      height: auto;
      left: 45px;
      bottom: 20%;
      @include below($tablet-lg) {
        left: 140px;
        bottom: 22%;
        width: 60px;
      }
      @include below($tablet-sm) {
        left: 130px;
        width: 40px;
      }
      @include below($mobile-lg) {
        width: 30px;
        left: 50px;
      }
    }
    &.float__img4 {
      // width: 130px;
      width: 7vw;
      height: auto;
      right: 160px;
      bottom: 10%;
      @include below($tablet-lg) {
        width: 170px;
      }
      @include below($tablet-sm) {
        bottom: 15%;
        right: 130px;
        width: 130px;
      }
      @include below($mobile-lg) {
        width: 70px;
        right: 80px;
        bottom: 6%;
      }
    }
    // animation: focuss 16s linear infinite;
  }
}

@keyframes zoomAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

// .float__img1 {
//   animation: zoomAnimation 12s infinite 0s; /* Adjust the duration as needed */
// }

// .float__img2 {
//   animation: zoomAnimation 12s infinite 3s; /* Adjust the duration and delay as needed */
// }

// .float__img3 {
//   animation: zoomAnimation 12s infinite 6s; /* Adjust the duration and delay as needed */
// }

// .float__img4 {
//   animation: zoomAnimation 12s infinite 9s; /* Adjust the duration and delay as needed */
// }

@keyframes moveInArc {
  0% {
    transform: translateY(-100px) translateX(50px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-50px) translateX(30px);
    }
  }
  5% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateY(100px) translateX(-30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(50px) translateX(-20px);
    }
  }
  100% {
    transform: translateY(100px) translateX(-30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(50px) translateX(-20px);
    }
  }
}
@keyframes moveInArc2 {
  0% {
    transform: translateY(100px) translateX(50px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(50px) translateX(30px);
    }
  }
  5% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateY(-100px) translateX(-50px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-60px) translateX(-30px);
    }
  }
  100% {
    transform: translateY(-100px) translateX(-50px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-60px) translateX(-30px);
    }
  }
}
@keyframes moveInArc3 {
  0% {
    transform: translateY(-100px) translateX(-20px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-50px) translateX(-15px);
    }
  }
  5% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateY(80px) translateX(30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(50px) translateX(20px);
    }
  }
  100% {
    transform: translateY(80px) translateX(30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(50px) translateX(20px);
    }
  }
}
@keyframes moveInArc4 {
  0% {
    transform: translateY(50px) translateX(-80px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(30px) translateX(-50px);
    }
  }
  5% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateY(-80px) translateX(30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-50px) translateX(20px);
    }
  }
  100% {
    transform: translateY(-80px) translateX(30px);
    opacity: 0;
    @include below($mobile-lg) {
      transform: translateY(-50px) translateX(20px);
    }
  }
}
.float__img1 {
  animation: moveInArc 10s linear infinite; /* Adjust the duration as needed */
  animation-delay: 1.5s;
}

.float__img2 {
  animation: moveInArc2 10s linear infinite; /* Adjust the duration and delay as needed */
  animation-delay: 1.5s;
}

.float__img3 {
  animation: moveInArc3 10s linear infinite; /* Adjust the duration and delay as needed */
  animation-delay: 1.5s;
}

.float__img4 {
  animation: moveInArc4 10s linear infinite; /* Adjust the duration and delay as needed */
  animation-delay: 1.5s;
}
