/** @format */

.cta__primary {
  text-decoration: none;
  @include fontStyle(1.1vw, 1.5, 500, $color-black);
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.2s all ease-in-out;
  width: max-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  @include below($desktop-sm) {
    font-size: 13px;
  }
  @include below($tablet-lg) {
    font-size: 18px;
  }
  @include below($mobile-lg) {
    font-size: 16px;
  }
  svg {
    width: 26px;
    align-self: center;
    margin-left: 13px;
    transition: 0.2s all ease-in-out;
  }
  &.cta__border {
    border-color: $color-black;
    padding: 11px 22px;
    border-radius: 8px;
    @include below($mobile-lg) {
      padding: 10px 20px;
    }
    &.cta__primary--sm {
      padding: 6px 16px;
    }
  }
  &:not(.not_hover):hover {
    color: $color-black;
    @include above($tablet-lg) {
      color: $color-white;
      background-color: $color-black;
    }
  }
  &.border_clear {
    border-color: transparent;
  }
  &.cta__pomgranate {
    background-color: $color-pomegranate;
    border-color: $color-pomegranate;
    color: $color-white;
    &:hover {
      color: $color-white;
      @include above($tablet-lg) {
        color: $color-pomegranate;
        background-color: transparent;
        svg {
          margin-left: 23px;
          path {
            fill: $color-pomegranate;
          }
        }
      }
    }
    &__border {
      background-color: transparent;
      border-color: $color-pomegranate;
      color: $color-pomegranate;
      &:hover {
        color: $color-pomegranate;
        @include above($tablet-lg) {
          color: $color-white;
          background-color: $color-pomegranate;
          svg {
            margin-left: 23px;
            path {
              fill: $color-white;
            }
          }
        }
      }
    }
  }
  &.text__pomgranate {
    color: $color-pomegranate;
    svg {
      path {
        fill: $color-pomegranate;
      }
    }
    &:hover {
      color: $color-pomegranate;
      @include above($tablet-lg) {
        color: $color-pomegranate;
        background-color: transparent;
        svg {
          margin-left: 23px;
          path {
            fill: $color-pomegranate;
          }
        }
      }
    }
  }
}
.cta__secondary {
  text-decoration: none;
  @include fontStyle(1.1vw, 1.5, 500, $color-black);
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.2s all ease-in-out;
  width: max-content;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 25px;
  @include below($tablet-lg) {
    font-size: 18px;
    color: $color-white;
  }
  span {
    @include fontStyleInherit();
  }
  svg {
    width: 26px;
    align-self: center;
    margin-left: 13px;
    transition: 0.2s all ease-in-out;
    path {
      @include below($tablet-lg) {
        fill: $color-white;
      }
    }
  }
  & > * {
    position: relative;
    z-index: 5;
  }
  &::before {
    content: "";
    height: 100%;
    width: 3.5vw;
    // aspect-ratio: 1/1;
    background-color: $color-coral2;
    position: absolute;
    transition: 0.3s all ease-in-out;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 150px;
    @include below($tablet-lg) {
      width: 100%;
    }
  }
  &:hover {
    color: $color-black;
    @include above($tablet-lg) {
      color: $color-white;
      &::before {
        aspect-ratio: unset;
        width: 100%;
      }
      svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
}
.custom__selectbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid $color-black;
  border-radius: 100px;
  cursor: pointer;
  select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    @include fontStyle(1.1vw, 0.8, 400, $color-black);
    padding: 12px 57px 12px 20px;
    border: 0 !important;
    outline: 0 !important;
    border-radius: 100px;
    cursor: pointer;
    @include below($desktop-lg) {
      font-size: 16px;
    }
    @include below($tablet-lg) {
      font-size: 20px;
    }
    @include below($mobile-lg) {
      font-size: 18px;
    }
  }
  svg {
    width: 13px;
    height: auto;
    margin-left: 25px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
  }
}
.cta__tab {
  text-decoration: none;
  @include fontStyle(1vw, 1.3, 500, $color-blue-bayoux);
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.2s all ease-in-out;
  width: max-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  // border-color: $color-black;
  padding: 14px 18px;
  border-radius: 8px;
  box-shadow: 0 0 50px 0 rgba($color: #a0c2d3, $alpha: 0.24);
  @include below($desktop-lg) {
    font-size: 18px;
  }
  @include below($tablet-lg) {
    font-size: 18px;
  }
  @include below($mobile-lg) {
    font-size: 16px;
  }
  .cta__tab__icon {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 16px;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: 5px;
      top: 5px;
      position: absolute;
      border-radius: 2px 0.5px 2px 0.5px;
      background-color: rgba($color: $color-coral2, $alpha: 0.2);
      z-index: -1;
    }
    img {
    }
  }
  svg {
    width: 26px;
    align-self: center;
    margin-left: 13px;
    transition: 0.2s all ease-in-out;
  }
  &:hover {
    color: $color-blue-bayoux;
    @include above($tablet-lg) {
      box-shadow: 0 15px 50px 0 rgba($color: #a0c2d3, $alpha: 0.5);
    }
  }
  &.active {
    box-shadow: none;
    border: 1px solid rgba($color: $color-blue-bayoux, $alpha: 0.5);
  }
}
