/** @format */

.flexible__section {
  padding: 120px 0;
  @include below($tablet-lg) {
    padding: 80px 0;
  }
  @include below($mobile-lg) {
    padding: 40px 0;
  }
  .agency__growth__grid {
    margin-top: 120px;
    @include below($tablet-lg) {
      margin-top: 70px;
    }
    @include below($tablet-sm) {
      margin-top: 30px;
    }
    @include below($mobile-lg) {
      margin-top: 20px;
    }
  }
  .title__primary {
    margin-bottom: 55px;
    @include below($tablet-lg) {
      margin-bottom: 40px;
    }
    @include below($tablet-sm) {
      margin-bottom: 30px;
    }
    @include below($mobile-lg) {
      margin-bottom: 20px;
    }
  }
  .subtitle__primary {
    margin-bottom: 55px;
  }
}
.section__bg__gallery {
  background-color: $color-gallery;
}
.section__bg__lilac {
  background-color: $color-white-lilac;
}
.section__bg__aqua__squeeze {
  background-color: $color-aqua-squeeze;
}
.section__alice__blue {
  background-color: $color-alice-blue;
}
.flexible__alternate__grid {
  padding: 120px 0;
  @include below($tablet-lg) {
    padding: 80px 0;
  }
  @include below($mobile-lg) {
    padding: 40px 0;
  }
  .row {
    margin: 0 -60px;
    @include below($tablet-lg) {
      margin: 0 -20px;
    }
    & > div {
      padding: 0 60px;
      @include below($tablet-lg) {
        padding: 0 20px;
      }
    }
    .feat__img {
      width: 100%;
      height: auto;
      aspect-ratio: 398/386;
      border-radius: 12px;
      overflow: hidden;
      @include below($tablet-sm) {
        margin: 0 auto 30px;
        width: 60%;
      }
      @include below($mobile-lg) {
        width: 80%;
      }
      img {
        object-fit: cover;
      }
    }
    .title__primary {
      margin-bottom: 40px;
      @include below($tablet-sm) {
        margin-bottom: 20px;
      }
    }
    p {
      @include fontStyle(1.45vw, 1.4, 400);
      @include below($tablet-lg) {
        font-size: 20px;
      }
    }
  }
  &:nth-child(even) {
    .row {
      @include above($tablet-sm) {
        flex-flow: row-reverse;
      }
    }
  }
}
.clients__logo__slider_2,
.clients__logo__slider_3 {
  margin-top: 20px;
  .clients__logo__wrap {
    width: 20vw;
    height: 120px;
    margin: 0 7px;
    border: 1px solid $color-black;
    border-radius: 100px;
    padding: 30px 50px;
    @include below($tablet-lg) {
      width: 30vw;
      height: 100px;
    }
    @include below($mobile-lg) {
      padding: 20px 30px;
      height: 80px;
      width: 46vw;
    }
  }
}
.full_width_feat__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1163/352;
  border-radius: 12px;
  overflow: hidden;
  @include below($mobile-lg) {
    aspect-ratio: 1163/600;
  }
  img {
    object-fit: cover;
  }
}
.products__package__wrap {
  width: 100%;
  overflow-x: auto;
}
.products__package {
  table-layout: fixed;
  @include below($tablet-lg) {
    table-layout: unset;
  }
  td,
  th {
    border: 1px solid #9ca1b4;
    border-collapse: collapse;
    padding: 20px 25px;
    transition: 0.2s all ease-in-out;
    @include below($mobile-lg) {
      padding: 12px 15px;
    }
  }
  th:hover {
    // @include above($tablet-lg) {

    // }
  }
  .cta__primary {
    &:hover {
      @include above($tablet-lg) {
        background-color: $color-white;
        color: $color-pomegranate;
      }
    }
  }
  h4 {
    @include fontStyle(1.5vw, 1, 700, $color-black);
    margin-bottom: 10px;
    transition: 0.2s all ease-in-out;

    @include below($tablet-lg) {
      font-size: 20px;
    }
    @include below($mobile-lg) {
      font-size: 18px;
    }
  }
  h6 {
    @include fontStyle(1.12vw, 1, 600, $color-madison);
    // margin-bottom: 10px;
    transition: 0.2s all ease-in-out;

    @include below($tablet-lg) {
      font-size: 18px;
    }
    @include below($mobile-lg) {
      font-size: 16px;
    }
  }
  p {
    @include fontStyle(0.77vw, 1, 500, $color-lynch);
    // margin-bottom: 10px;
    transition: 0.2s all ease-in-out;

    @include below($tablet-lg) {
      font-size: 16px;
    }
    @include below($mobile-lg) {
      font-size: 14px;
    }
  }
  h5 {
    @include fontStyle(1.25vw, 1, 500, $color-black);
    margin-bottom: 20px;
    transition: 0.2s all ease-in-out;

    @include below($tablet-lg) {
      font-size: 19px;
    }
    @include below($mobile-lg) {
      font-size: 17px;
    }
    span {
      @include fontStyleInherit();
    }
  }
  img {
    width: 19px;
    height: 19px;
  }
  thead > tr > th:first-child > h4 {
    @include below($tablet-sm) {
      width: 200px;
    }
  }
  // tbody {
  //   tr {
  //     &:nth-child(even) {
  //       background-color: #f7faff;
  //     }
  //   }
  // }
  tr > td:nth-child(3),
  tr > th:nth-child(3) {
    border-top: 1px solid #f5333f;
    border-left: 1px solid #f5333f;
    border-right: 1px solid #f5333f;
    border-bottom: 1px solid #f5333f;
  }
  tr > td:nth-child(2),
  tr th:nth-child(2) {
    border-right: 1px solid #f5333f;
  }
  thead {
    th:nth-child(3) {
      background-color: $color-pomegranate;
      & > * {
        color: $color-white;
        border-color: $color-white;
      }
    }
  }
}
.our__features__row {
  margin: 0 -20px;
  & > div {
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .our__features__card {
    width: 100%;
    border: 1px solid $color-river-bed;
    border-radius: 12px;
    transition: 0.3s all ease-in-out;
    padding: 40px 30px;
    height: 100%;
    @include below($tablet-lg) {
      padding: 30px 20px;
    }
    .our__features__card__icon {
      width: 60px;
      height: 60px;
      position: relative;
      margin: 0 auto 35px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 9px;
        left: 9px;
        background-color: $color-coral;
        border-radius: 18px 5px 18px 5px;
        display: block;
        z-index: -1;
      }
    }
    h4 {
      @include fontStyle(1.75vw, 1.2, 600, $color-black);
      text-align: center;
      margin-bottom: 25px;
      @include below($tablet-lg) {
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
    p {
      @include fontStyle(1.25vw, 1.5, 500, $color-river-bed);
      text-align: center;
      max-width: 80%;
      margin: auto;
      @include below($tablet-lg) {
        font-size: 16px;
        max-width: 100%;
      }
    }
    &:hover {
      @include above($tablet-lg) {
        border-color: $color-white;
        box-shadow: 0 40px 40px 0 rgba($color: #a0c2d3, $alpha: 0.24);
      }
    }
  }
}
.our__contribution {
  margin-bottom: 30px;
  li {
    list-style-type: none;
    @include fontStyle(1.25vw, 1.4, 400, $color-madison);
    &:not(:last-child) {
      margin-bottom: 15px;
      @include below($mobile-lg) {
        margin-bottom: 10px;
      }
    }
    @include below($tablet-lg) {
      font-size: 18px;
    }
  }
}
.project__overview {
  h3 {
    @include fontStyle(2.8vw, 1.2, 400, $color-black);
    margin-bottom: 40px;
    @include below($tablet-lg) {
      font-size: 38px;
    }
    @include below($mobile-lg) {
      font-size: 30px;
    }
  }
  p {
    @include fontStyle(1.25vw, 1.6, 400, $color-river-bed);
    margin-bottom: 25px;
    @include below($tablet-lg) {
      font-size: 18px;
    }
    strong {
      @include fontStyleInherit();
      color: $color-black;
      font-weight: 500;
    }
  }
}
.related__projects__wrap {
  margin: 0 -33px;
  & > div {
    padding: 0 33px;
  }
}
.related__projects__row {
  margin: 0 -22.5px;
  @include below($tablet-sm) {
    margin: 0 -15px;
  }
  & > div {
    padding: 0 22.5px;
    @include below($tablet-sm) {
      margin-bottom: 40px;
      padding: 0 15px;
    }
  }
}
.related__projects__item {
  width: 100%;
  .related__projects__item__featured__image {
    width: 100%;
    height: auto;
    aspect-ratio: 365/322;
    border-radius: 12px;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    @include below($mobile-lg) {
      border-radius: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #f5333f, $alpha: 0.8);
      transition: 0.3s all ease-in-out;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
    }
    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: auto;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background: linear-gradient(#ffb2b6, #f5333f);
      opacity: 0.2;
      transition: 0.3s all ease-in-out;
      right: -50px;
      bottom: -50px;
      z-index: 5;
      transform: scale(0);
      transform-origin: right bottom;
    }
    &:hover {
      @include above($tablet-lg) {
        &::before {
          opacity: 1;
        }
        &::after {
          transform: scale(1);
        }
      }
    }
  }
  h5 {
    @include fontStyle(1.74vw, 1.2, 600, $color-black);
    margin-bottom: 10px;
    a {
      @include fontStyleInherit();
    }
    @include below($tablet-lg) {
      font-size: 30px;
    }
  }
  span {
    @include fontStyle(1.11vw, 1.2, 500, $color-river-bed);
    @include below($tablet-lg) {
      font-size: 18px;
    }
  }
}
.related__quick__links {
  width: 100%;
  @include below($tablet-lg) {
    margin-top: 50px;
  }
  li {
    padding: 35px 0;
    border-bottom: 1px solid $color-gray;
    @include below($mobile-lg) {
      padding: 20px 0;
    }
    &:first-child {
      border-top: 1px solid $color-gray;
    }
    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      @include fontStyle(1.53vw, 1.3, 500$color-black);
      @include below($tablet-lg) {
        font-size: 20px;
      }
      @include below($mobile-lg) {
        font-size: 18px;
      }
      svg {
        width: 40px;
        height: auto;
        margin-left: 15px;
        transition: 0.4s all ease-in-out;
        @include below($mobile-lg) {
          width: 30px;
        }
      }
      &:hover {
        @include above($tablet-lg) {
          opacity: 1 !important;
          svg {
            margin-left: 25px;
          }
        }
      }
    }
  }
}
.custom__selectbox + .custom__selectbox {
  margin-left: 50px;
}
.portfolio__listing__row {
  margin: 0 -17px;
  & > div {
    padding: 0 17px;
    margin-bottom: 40px;
    &:nth-child(2),
    &:nth-child(6) {
      .portfolio__listing__card {
        .portfolio__listing__card__image {
          @include above($tablet-lg) {
            border-top-right-radius: 70px;
          }
        }
      }
    }
    &:nth-child(4),
    &:nth-child(3) {
      .portfolio__listing__card {
        .portfolio__listing__card__image {
          @include above($tablet-lg) {
            border-bottom-left-radius: 70px;
          }
        }
      }
    }
  }
  .portfolio__listing__card {
    width: 100%;
    .portfolio__listing__card__image {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 12px;
      overflow: hidden;
      transition: 0.4s all ease-in-out;
      margin-bottom: 30px;
      position: relative;
      @include below($tablet-sm) {
        margin-bottom: 20px;
      }
      &::before {
        content: "Learn More";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        position: absolute;
        transition: 0.4s all ease-in-out;
        opacity: 0;
        z-index: 5;
        @include fontStyle(1.5vw, 1.2, 400, $color-white);
        text-transform: capitalize;
        letter-spacing: 1.6px;
        transition-delay: 0.2s;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #f5333f, $alpha: 0.8);
        position: absolute;
        transition: 0.4s all ease-in-out;
        opacity: 0;
        z-index: 3;
      }
      img {
        object-fit: cover;
      }
      &:hover {
        @include above($tablet-lg) {
          border-radius: 50% !important;
          &::after {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
          &::before {
            transform: translate(-50%, -50%);
            opacity: 1;
          }
        }
      }
    }
    h4 {
      @include fontStyle(2vw, 1.2, 600, $color-black);
      margin-bottom: 10px;
      @include below($tablet-lg) {
        font-size: 36px;
      }
      @include below($tablet-sm) {
        font-size: 26px;
      }
    }
    p {
      @include fontStyle(1vw, 1.4, 400, $color-river-bed);
      text-transform: uppercase;
      display: flex;
      align-items: flex-start;
      @include below($tablet-lg) {
        font-size: 17px;
      }
      @include below($tablet-sm) {
        font-size: 16px;
      }
      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color-river-bed;
        margin-right: 7px;
        margin-top: 5px;
        @include below($tablet-lg) {
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}
.filter__btn__wrap {
  .custom__selectbox {
    & + .custom__selectbox {
      @include below($tablet-sm) {
        margin-left: 10px;
      }
      @include below($mobile-lg) {
        margin-left: 0px;
      }
    }
    @include below($tablet-sm) {
      margin-bottom: 15px;
    }
    @include below($mobile-lg) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
}

.how__it__works__tab__link__wrap {
  @include below($mobile-lg) {
    justify-content: center !important;
    align-items: center;
  }
}
.cta__secondary {
  @include below($mobile-lg) {
    margin-right: auto;
  }
}
