/** @format */

.how__it__works__row {
  position: relative;
  z-index: 10;
  .col-xl-5 {
    @include above($tablet-lg) {
      width: 46%;
      flex: 0 0 46%;
    }
  }
  .col-xl-7 {
    @include above($tablet-lg) {
      width: 54%;
      flex: 0 0 54%;
    }
  }
  .subtitle {
    @include fontStyle(1.2vw, 1, 600, $color-black);
    @include below($tablet-lg) {
      font-size: 26px;
    }
    @include below($mobile-lg) {
      margin-bottom: 30px;
    }
  }
  margin: 0 -50px;
  & > div {
    padding: 0 50px;
  }
  .img-fluid {
    @include below($tablet-lg) {
      margin: 0 auto 40px;
      width: 60%;
      display: block;
    }
    @include below($mobile-lg) {
      width: 100%;
      margin: 0 auto 30px;
    }
  }
}
.how__it__works__steps {
  li {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 20px 0;
    &:last-child {
      padding-bottom: 0;
    }
    @include fontStyle(1.11vw, 1.5, 500, $color-black);
    @include below($desktop-lg) {
      font-size: 18px;
    }
    @include below($tablet-lg) {
      font-size: 24px;
    }
    @include below($tablet-sm) {
      font-size: 20px;
    }
    @include below($mobile-lg) {
      font-size: 16px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-black;
    }
    &::before {
      content: "";
      margin-top: 8px;
      width: 13px;
      height: 13px;
      flex: 0 0 13px;
      border-radius: 50%;
      display: block;
      background-color: $color-pomegranate;
      margin-right: 19px;
      @include below($mobile-lg) {
        margin-right: 15px;
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
      }
    }
  }
}
.how__it_works__vector {
  position: absolute;
  top: 0%;
  left: 0;
  height: calc(110%);
  z-index: 1;
}
.drop__a__msg__block {
  position: relative;
  background: url("../img/bg/dambg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
}
