/** @format */

.inner__page__banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  @include below($mobile-lg) {
    margin-bottom: 30px;
  }
  .subtitle__primary {
    margin-bottom: 29px;
    display: none;
    @include below($mobile-lg) {
      display: block;
      text-align: center;
    }
  }
  .banner__side__element {
    position: absolute;
    right: 0;
    top: 200px;
    width: 20%;
    height: auto;
    @include below($tablet-lg) {
      width: 32%;
    }
    @include below($mobile-lg) {
      width: 100%;
      top: 100px;
    }
  }
  .inner__page__banner__inner {
    padding: 200px 0 200px;
    background-color: $color-alice-blue;
    position: relative;
    @include below($mobile-lg) {
      padding: 140px 0 60px;
    }
    .ball1 {
      content: "";
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 50%;
      display: block;
      background-color: $color-coral2;
      left: 80%;
      position: absolute;
      top: 40%;
      @include below($mobile-lg) {
        top: 130px;
        left: 15px;
      }
    }
    .ball2 {
      content: "";
      width: 25px;
      height: 25px;
      display: block;
      border-radius: 50%;
      display: block;
      background: linear-gradient(#fb6770, #f5333f);
      left: 58%;
      position: absolute;
      top: 65%;
      @include below($mobile-lg) {
        top: auto;
        bottom: 50px;
        left: auto;
        right: 15px;
      }
    }
    .site__breadcrumbs {
      display: flex;
      margin: 40px -15px 0;
      flex-wrap: wrap;
      transform: translateY(150px);
      opacity: 0;
      @include below($mobile-lg) {
        margin: 20px -15px 0;
        display: none;
      }
      li {
        @include fontStyle(1.2vw, 1, 600, $color-madison);
        text-transform: capitalize;
        padding: 0 15px;
        margin-bottom: 10px;
        @include below($tablet-lg) {
          font-size: 20px;
        }
        @include below($mobile-lg) {
          font-size: 18px;
        }
        &:not(:last-child) {
          position: relative;
          &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-color: $color-blue-bayoux;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
          }
        }
        a {
          @include fontStyle(1.2vw, 1, 400, $color-blue-bayoux);
          text-decoration: none;
          transition: 0.2s all ease-in-out;
          @include below($tablet-lg) {
            font-size: 20px;
          }
          @include below($mobile-lg) {
            font-size: 18px;
          }
          &:hover {
            @include above($tablet-lg) {
              color: $color-pomegranate;
            }
          }
        }
      }
    }
  }
  h1 {
    @include fontStyle(4.2vw, 1, 600, $color-madison);
    margin-bottom: 20px;
    transform: translateY(150px);
    opacity: 0;
    @include below($tablet-lg) {
      font-size: 60px;
    }
    @include below($mobile-lg) {
      font-size: 38px;
      margin-bottom: 50px;
      text-align: center;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .inner__page__featured__image {
    margin-top: -120px;
    position: relative;
         transform: translateY(150px);
    opacity: 0;
    @include below($mobile-lg) {
      margin-top: -30px;
    }
    img {
      width: 100%;
      height: auto;
      overflow: hidden;
      aspect-ratio: 1162/333;
      border-radius: 100px 0px 0px 0px;
      object-fit: cover;
      @include below($tablet-sm) {
        border-radius: 60px 0px 0px 0px;
      }
      @include below($mobile-lg) {
        border-radius: 12px;
        aspect-ratio: 1162/600;
      }
    }
    .inner__page__featured__image__icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 100%;
      left: 100%;
      transform: translate(-50%, 50%);
      background-color: $color-pomegranate;
      svg {
        width: 100%;
      }
      @include below($tablet-lg) {
        width: 55px;
        height: 55px;
      }
      @include below($mobile-lg) {
        display: none;
        width: 45px;
        height: 45px;
        padding: 12px;
      }
    }
  }
}
