/** @format */

.team__members__row {
  margin: 0 -50px;
  @include below($tablet-lg) {
    margin: 0 -20px;
  }
  @include below($mobile-lg) {
    text-align: center;
  }
  .col-xl-3 {
    @include above($tablet-lg) {
      width: 28.1%;
      flex: 0 0 28.1%;
    }
  }
  .col-xl-9 {
    @include above($tablet-lg) {
      width: 71.9%;
      flex: 0 0 71.9%;
    }
  }
  & > div {
    padding: 0 50px;
    @include below($tablet-lg) {
      padding: 0 20px;
    }
  }
  .ceo_wrap {
    @include below($tablet-lg) {
      display: none;
    }
  }
  p {
    @include fontStyle(1.45vw, 1.5, 400, $color-black);
    @include below($desktop-lg) {
      font-size: 18px;
    }
    @include below($tablet-lg) {
      font-size: 20px;
    }
  }
  .team__ceo {
    width: 100%;
    height: auto;
    aspect-ratio: 253/316;
    border-radius: 15px;
    overflow: auto;
    margin-top: 90px;
    position: relative;
    @include below($tablet-lg) {
      margin-top: 50px;
    }
    @include below($tablet-sm) {
      width: 60%;
      margin: 50px auto 0;
    }
    @include below($mobile-lg) {
      margin-bottom: 14px !important;
      width: 80%;
    }

    img {
      object-fit: cover;
      position: relative;
      z-index: 1;
      transition: 0.5s all ease-in-out;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      &:nth-child(2) {
        clip-path: circle(0% at 50% 50%);
        position: absolute;
        inset: 0;
        z-index: 2;
      }
    }
    &:hover {
      @include above($tablet-lg) {
        img:nth-child(2) {
          // opacity: 0;
          // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: circle(71% at 50% 50%);
        }
      }
    }
    & ~ .subtitle__primary {
      @include below($tablet-sm) {
        font-size: 40px;
        text-align: center;
      }
      @include below($mobile-lg) {
        font-size: 22px;
      }
    }
  }
}
.team__members__slider,
.team__members__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin: 90px -10px 0;
  margin: 0px -130px 0 0;
  @include below($tablet-lg) {
    justify-content: unset;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin: 50px -15px 0 -10px;
  }
  .team__members__slide__item {
    width: 14.2vw !important;
    flex: 0 0 14.2vw !important;
    @include below($tablet-lg) {
      width: 45vw !important;
      flex: 0 0 45vw !important;
      scroll-snap-align: start;
    }

    @include below($mobile-lg) {
      width: 90% !important;
      flex: 0 0 90% !important;

      padding: 8px;
    }
    &.d-none {
      @include below($tablet-lg) {
        display: block !important;
      }
    }
  }
  &:hover {
    .slick__prev,
    .slick__next {
      @include above($tablet-lg) {
        transform: translateY(-50%) translateX(0) !important;
        opacity: 1 !important;
      }
    }
  }
  .slick__arr {
    width: 70px;
    flex: 0 0 70px;
    height: 70px;
    border-radius: 50%;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.4);
    border: 0;
    outline: 0;
    position: absolute;
    z-index: 10;
    top: 56%;
    transition: 0.3s all ease-in-out;
    @include below($tablet-lg) {
      top: 50%;
      transform: translateY(-50%);
    }
    @include below($mobile-lg) {
      width: 45px;
      flex: 0 0 45px;
      height: 45px;
      padding: 10px;
    }
    svg {
      width: 100%;
      height: auto;
    }
    &.slick__prev {
      left: 0;
      @include above($tablet-lg) {
        transform: translateY(-50%) translateX(-50px);
        opacity: 0;
      }
      @include below($tablet-sm) {
        left: 30px;
      }
      @include below($mobile-lg) {
        left: -10px;
      }
    }
    &.slick__next {
      right: 30px;
      @include above($tablet-lg) {
        transform: translateY(-50%) translateX(50px);
        opacity: 0;
      }
      @include below($mobile-lg) {
        right: 6px;
      }
    }
  }

  .slick-list.draggable {
    margin: 0 -11px;
    padding: 90px 0 0;
    // overflow: visible;
    @include below($tablet-lg) {
      padding-top: 0;
      margin-top: 50px;
    }
    @include below($mobile-lg) {
      margin-top: 0px;
    }
  }
  .team__members__slide__item {
    // width: 16vw !important;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0 10px;
    transition: 0.5s all ease-in-out;
    // @include below($tablet-lg) {
    //   width: 24vw !important;
    // }
    // @include below($tablet-sm) {
    //   width: 35vw !important;
    // }
    // @include below($mobile-lg) {
    //   width: 45vw !important;
    //   padding: 8px;
    // }

    .team__members__slide__item__inner {
      border-radius: 15px;
      transition: 0.5s all ease-in-out;
      transition-delay: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      & > img {
        object-fit: cover;
        position: relative;
        z-index: 1;
        transition: 0.5s all ease-in-out;

        &:nth-child(2) {
          clip-path: circle(0% at 50% 50%);
          position: absolute;
          inset: 0;
          z-index: 2;
        }
      }
    }
    .hover_tooltil {
      display: block;
      position: absolute;
      background-color: $color-white;
      border-radius: 10px 10px 18px 0;
      box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.4);
      width: max-content;
      left: 40%;
      bottom: calc(100% - 20px);
      padding: 12px 15px;
      transition: 0.5s all ease-in-out;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      z-index: 30;
      @include below($tablet-lg) {
        position: static;
        text-align: center;
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
      }
      h5 {
        @include fontStyle(1.1vw, 1, 600, $color-black);
        margin-bottom: 5px;
        @include below($tablet-lg) {
          font-size: 30px;
          margin-bottom: 10px;
        }
        @include below($tablet-sm) {
          font-size: 25px;
        }
        @include below($mobile-lg) {
          font-size: 24px;
        }
      }
      span {
        @include fontStyle(0.9vw, 1, 500, $color-river-bed);
        display: block;
        margin-bottom: 6px;
        @include below($tablet-lg) {
          font-size: 26px;
          margin-bottom: 10px;
        }
        @include below($tablet-sm) {
          font-size: 22px;
        }
        @include below($mobile-lg) {
          font-size: 20px;
        }
      }
      a {
        @include fontStyle(1vw, 1, 500, $color-black);
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        @include below($tablet-lg) {
          font-size: 28px;
        }
        @include below($tablet-sm) {
          font-size: 22px;
        }
        @include below($mobile-lg) {
          font-size: 21px;
        }
        img {
          margin-left: 6px;
          width: 28px;
          height: auto;
          aspect-ratio: 1/1;
          @include below($tablet-lg) {
            width: 38px;
          }
        }
      }
    }
    & > img {
      object-fit: cover;
    }
    &:hover {
      @include above($tablet-lg) {
        .hover_tooltil {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        .team__members__slide__item__inner {
          border-radius: 50%;
          img:nth-child(2) {
            // opacity: 0;
            clip-path: circle(71% at 50% 50%);
          }
        }
      }
    }
    &--rounded {
      .team__members__slide__item__inner {
        @include above($tablet-lg) {
          border-radius: 50%;
        }
      }
      &:hover {
        @include above($tablet-lg) {
          // .hover_tooltil {
          //   transform: translateY(0);
          //   opacity: 1;
          //   visibility: visible;
          // }
          .team__members__slide__item__inner {
            border-radius: 12px;
          }
        }
      }
    }
  }
}
.mobile__slider {
  display: flex;
  @include above($tablet-lg) {
    display: none;
  }
  .team__members__slide__item__inner {
    margin-bottom: 15px;
  }
}
.desktop__slider {
  @include below($tablet-lg) {
    display: none;
  }
}
