/** @format */

.title__primary {
  @include fontStyle(3.3vw, 1.2, 500, $color-madison);
  //   display: flex;
  span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    // vertical-align: middle;
    margin-bottom: 12px;
    background: linear-gradient(#fb6770, #f5333f);
    @include below($desktop-lg) {
      width: 14px;
      height: 14px;
      margin-bottom: 8px;
    }
    @include below($mobile-lg) {
      width: 10px;
      height: 10px;
      margin-bottom: 3px;
      display: none;
    }
  }
  @include below($tablet-lg) {
    font-size: 46px;
  }
  @include below($tablet-sm) {
    font-size: 40px;
  }
  @include below($mobile-lg) {
    font-size: 28px;
  }
}
.subtitle__primary {
  @include fontStyle(1.15vw, 1.5, 500, $color-blue-bayoux);
  @include below($desktop-lg) {
    font-size: 18px;
  }
  @include below($tablet-lg) {
    font-size: 26px;
  }
  @include below($tablet-sm) {
    font-size: 22px;
  }
  @include below($mobile-lg) {
    font-size: 18px;
  }
  p {
    @include fontStyleInherit();
  }
  strong {
    @include fontStyleInherit();
    font-weight: 700;
  }
  a {
    @include fontStyleInherit();
    text-decoration: none;
  }
  &--lg {
    font-size: 1.6vw;
    @include below($tablet-lg) {
      font-size: 30px;
    }
    @include below($tablet-sm) {
      font-size: 26px;
    }
    @include below($mobile-lg) {
      font-size: 20px;
    }
  }
}
.subtitle__secondary {
  @include fontStyle(1.11vw, 1.5, 400, $color-blue-bayoux);
  @include below($tablet-lg) {
    font-size: 26px;
  }
  @include below($tablet-sm) {
    font-size: 22px;
  }
  @include below($mobile-lg) {
    font-size: 18px;
  }
  p {
    @include fontStyleInherit();
  }
  strong {
    @include fontStyleInherit();
    font-weight: 700;
  }
  a {
    @include fontStyleInherit();
    text-decoration: none;
  }
  &--lg {
    font-size: 1.35vw;
    @include below($tablet-lg) {
      font-size: 30px;
    }
    @include below($tablet-sm) {
      font-size: 26px;
    }
    @include below($mobile-lg) {
      font-size: 22px;
    }
  }
}
.color__madison {
  color: $color-madison !important;
}
