/** @format */

.wordpress__rates__grid {
  margin: 80px -19px 0;
  & > div {
    padding: 0 19px;
    margin-bottom: 50px;
  }
}
.wordpress__rates__title__card {
  width: 100%;
  height: 100%;
  padding: 47px 40px 0;
  background-color: $color-coral2;
  border-radius: 18px;
  position: relative;
  h4 {
    @include fontStyle(2.5vw, 1.1, 700, $color-white);
    margin-bottom: 20px;
  }
  svg {
    width: 36px;
    height: auto;
    display: block;
  }
  img {
    width: 45%;
    height: auto;

    display: block;
    position: absolute;
    bottom: 0;
    right: 65px;
    z-index: 1;
  }
}
.wordpress__rates__card {
  width: 100%;
  height: 100%;
  padding: 47px 40px;
  border: 1px solid #4e5a65;
  //   background-color: $color-coral2;
  border-radius: 18px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  &::after {
    content: "";
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(#ffb2b6, #f5333f);
    transform: translate(40px, 50px) scale(0);
    transform-origin: bottom right;
    transition: 0.3s all ease-in-out;
    opacity: 0.4;
  }
  h4 {
    @include fontStyle(2.5vw, 1.1, 700, $color-black);
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
    position: relative;
    z-index: 5;
  }

  p {
    @include fontStyle(1.12vw, 1.5, 400, $color-tuna);
    // max-width: 68%;
    position: relative;
    z-index: 5;
    margin-bottom: 45px;
    transition: 0.3s all ease-in-out;
    svg {
      width: 16px;
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  h5 {
    @include fontStyle(2.5vw, 1.26, 800, $color-black);
    border-top: 1px dashed $color-black;
    border-width: 2px;
    border-spacing: 10px;
    position: relative;
    z-index: 5;
    padding-top: 45px;
    transition: 0.3s all ease-in-out;
    span {
      @include fontStyle(1.5vw, 1.26, 400, $color-black);
      transition: 0.3s all ease-in-out;
    }
  }
  h6 {
    @include fontStyle(2vw, 1.26, 700, $color-black);
    border-top: 1px dashed $color-black;
    border-width: 2px;
    border-spacing: 10px;
    position: relative;
    z-index: 5;
    padding-top: 45px;
    transition: 0.3s all ease-in-out;
    // span {
    //   @include fontStyle(1.5vw, 1.26, 400, $color-black);
    //   transition: 0.3s all ease-in-out;
    // }
  }
  &:hover {
    @include above($tablet-lg) {
      background-color: $color-pomegranate;
      border-color: $color-pomegranate;
      p,
      h4,
      h5,
      span,
      h6 {
        color: $color-white;
        border-color: $color-white;
        svg {
          path {
            fill: $color-white;
          }
        }
      }
      &::after {
        transform: translate(40px, 50px) scale(1);
      }
    }
  }
}
.wordpress__package__row {
  margin: 0 -48px;
  padding-bottom: 90px;
  //   border-bottom: 1px solid $color-black;
  & > div {
    padding: 0 48px;
  }
  .wordpress__package__featured__image {
    width: 100%;
    height: auto;
    aspect-ratio: 456/467;
    border-radius: 12px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}

.lets__work__together {
  padding: 80px 0;
  .lets__word__together_contact__info {
    position: relative;
    img {
      position: absolute;
      width: 90px;
      height: auto;
      top: 50%;
      left: 0;
      transform: translateX(-90%) translateY(-50%);
      z-index: 1;
    }
    padding: 45px 50px;
    background-color: $color-chablis;
    width: max-content;
    margin-left: auto;
  }
}
