/** @format */

.wordpress__rates__grid {
  margin: 80px -19px 0;
  & > div {
    padding: 0 19px;
    margin-bottom: 50px;
  }
  & + .cta__secondary {
    @include below($mobile-lg) {
      margin-right: auto;
    }
  }
}
.wordpress__rates__title__card {
  width: 100%;
  height: 100%;
  padding: 47px 40px 0;
  background-color: $color-madison;
  border-radius: 18px;
  position: relative;
  @include below($tablet-lg) {
    padding: 30px 30px 0;
  }
  h4 {
    @include fontStyle(2.5vw, 1.1, 700, $color-white);
    margin-bottom: 20px;
    @include below($tablet-lg) {
      font-size: 30px;
    }
  }
  svg {
    width: 36px;
    height: auto;
    display: block;
  }
  img {
    width: 45%;
    height: auto;

    display: block;
    position: absolute;
    bottom: 0;
    right: 65px;
    z-index: 1;
    @include below($tablet-lg) {
      position: static;
      display: block;
      margin-left: auto;
      margin-right: 25px;
    }
  }
}
.wordpress__rates__card {
  width: 100%;
  height: 100%;
  // padding: 47px 40px;
  padding: 40px 35px;
  border: 1px solid $color-blue-bayoux;
  //   background-color: $color-coral2;
  border-radius: 18px;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  @include below($tablet-lg) {
    padding: 30px 30px;
  }
  &::after {
    content: "";
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(#ffb2b6, #f5333f);
    transform: translate(40px, 50px) scale(0);
    transform-origin: bottom right;
    transition: 0.3s all ease-in-out;
    opacity: 0.4;
  }
  h4 {
    @include fontStyle(2.5vw, 1.1, 700, $color-madison);
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
    position: relative;
    z-index: 5;
    @include below($tablet-lg) {
      font-size: 30px;
    }
  }

  p {
    @include fontStyle(1.11vw, 1.5, 400, $color-blue-bayoux);
    // max-width: 68%;
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
    transition: 0.3s all ease-in-out;
    @include below($tablet-lg) {
      font-size: 18px;
      margin-bottom: 25px;
    }
    svg {
      width: 16px;
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  h5 {
    @include fontStyle(2.2vw, 1.26, 800, $color-madison);
    border-top: 1px dashed $color-black;
    border-width: 2px;
    border-spacing: 10px;
    position: relative;
    z-index: 5;
    padding-top: 35px;
    transition: 0.3s all ease-in-out;
    @include below($tablet-lg) {
      font-size: 26px;
      padding-top: 25px;
    }
    span {
      @include fontStyle(1.3vw, 1.26, 400, $color-madison);
      transition: 0.3s all ease-in-out;
      @include below($tablet-lg) {
        font-size: 22px;
      }
    }
  }
  h6 {
    @include fontStyle(1.8vw, 1.26, 700, $color-madison);
    border-top: 1px dashed $color-black;
    border-width: 2px;
    border-spacing: 10px;
    position: relative;
    z-index: 5;
    padding-top: 45px;
    transition: 0.3s all ease-in-out;
    @include below($tablet-lg) {
      font-size: 26px;
    }
    // span {
    //   @include fontStyle(1.5vw, 1.26, 400, $color-black);
    //   transition: 0.3s all ease-in-out;
    // }
  }
  &:hover {
    @include above($tablet-lg) {
      background-color: $color-pomegranate;
      border-color: $color-pomegranate;
      p,
      h4,
      h5,
      span,
      h6 {
        color: $color-white;
        border-color: $color-white;
        svg {
          path {
            fill: $color-white;
          }
        }
      }
      &::after {
        transform: translate(40px, 50px) scale(1);
      }
    }
  }
}
.wordpress__package__row {
  margin: 0 -48px;
  padding-bottom: 90px;
  @include below($tablet-lg) {
    margin-top: 150px !important;
  }
  @include below($mobile-lg) {
    padding-bottom: 50px;
    margin-top: 70px !important;
  }
  //   border-bottom: 1px solid $color-black;
  & > div {
    padding: 0 48px;
  }
  .wordpress__package__featured__image {
    width: 100%;
    height: auto;
    aspect-ratio: 456/467;
    border-radius: 12px;
    overflow: hidden;
    @include below($tablet-lg) {
      width: 60%;
      margin: 0 auto 40px;
    }
    @include below($mobile-lg) {
      width: 100%;
    }
    img {
      object-fit: cover;
    }
  }
}

.lets__work__together {
  padding: 80px 0 10px;
  @include below($mobile-lg) {
    padding: 40px 0 10px;
    text-align: center !important;
  }
  .lets__word__together_contact__info {
    position: relative;
    padding: 45px 50px;
    background-color: $color-chablis;
    width: max-content;
    margin-left: auto;
    border-radius: 12px;
    @include below($mobile-lg) {
      padding: 30px 20px;
    }
    @include below($tablet-sm) {
      width: 100%;
    }

    img {
      position: absolute;
      width: 90px;
      height: auto;
      top: 50%;
      left: 0;
      transform: translateX(-90%) translateY(-50%);
      z-index: 1;
      @include below($tablet-sm) {
        left: calc(100% - 50px);
      }
      @include below($mobile-lg) {
        display: none;
        left: 95%;
        top: 30px;
      }
    }
    .animate_on_hover {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-madison;
        transition: 0.4s transform ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
        position: absolute;
        bottom: -2px;
        left: 0;
      }
      &:hover {
        @include above($tablet-lg) {
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    p,
    a {
      color: $color-madison;
    }
  }
}
